@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}


body,
table {
    font-family: Tahoma;
    background: #474747;
    font-size: 0.8rem;
    border-radius: 1rem;

}

.contributors img{

    object-fit: cover; 
    border-radius:50%;
    width: 25px;
    height: 25px;
    margin:5px 5px 0 0;
}

body h3{
    margin-left:0.3rem;
    color: #acacac;
}

.header{
    margin: 1rem 1rem 0 1rem;
}

.commandDivWrapper {
    display: flex;
    justify-content: flex-start;
    margin-left: 0.3rem;
}

.commandDiv {
    border-radius: 1rem;
    background: #2c2c2c;
    color: white;
    padding: 1rem;
    margin: 1rem 1rem 1rem 0;
    box-shadow: 0px 15px 20px rgb(77 79 78 / 40%);
}




.scrollUpButton{
    background: #afc1cab3;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
    border-radius: 30rem;
    font-size: 3rem;
    width: 4rem;
    text-align: center;
    color: #ffffff91;
    cursor: pointer;
    z-index: 3;
}


#selectLangResource {
    display: inline;
    width: 100%
}

.langEditor button {
    display: block;
}

.langEditor textarea {
    bottom: 0;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    /* min-width: 20rem; */
    min-height: 5rem;
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: auto;
    /* padding: 0.4rem; */
   /* margin-right: 3rem; */
}

.langEditor th {
    padding: 0.5rem;
    background: #2c2c2c;
    color: #fff;
    text-align: center;
}



.langEditor,
.langEditor th,
.langEditor td {
    border-collapse: collapse;
    border: 1px solid #0f0f0f;
    vertical-align: top;
	position: relative;

}

.langEditor {
    width: 100%;
    background: white;
}

.hidden {
    display: none;
}

.button,
.button:hover,
.button:visited {
    white-space: nowrap;
    display: block;
    width: 100%;
    max-width: 12rem;
    background: #afc1ca;
    padding: 0.25rem 0;
    text-align: center;
    border-radius: 0.25rem;
    color: black;
    margin: 0.3rem auto;
    border: 0;
    font-size: 0.7rem;
    cursor: pointer;
    text-decoration: none;
    padding: 0.3rem;
    box-sizing: border-box;
    font-weight: 100;
    box-shadow: 0px 15px 20px rgba(77, 79, 78, 0.4);
}

button.enhanced{
    font-weight:600;
    background: #e4bac8;
}

button.enhanced:hover{
    font-weight:600;
    background: #f696b6;
}



.button:hover  {
    background: #b0a4f7;
}

.button.left{
    margin-left: 0;
}

.propertyCommands{
    position: absolute;
    display:inline-block;
    right:0;
    top: 0.1rem;
}

.propertyCommandsButton,
.propertyCommandsButton:hover,
.propertyCommandsButton:visited,
.propertyCommandsButton:focus {
    border:0;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    background: #cecece;
    margin: 0 0.6rem 0.6rem;
    padding: 0.5rem;
    white-space: nowrap;
    color: black;
    border-radius: 0.2rem;


}


.viewSourceButton:before{

    content: '\1F50D';
}

.getJSONCode:before{

    content: '</>';
}

.modalContainer {
    position: Fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    z-index: 9999;
    transition: opacity 400ms ease-in;
    
}

.modalButton{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    padding: 0.2rem;
    font-weight: 700;
    font-size: 0.5rem;
    margin: 0.3rem;
}

.modalMainWrapper {
    position: fixed;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #607d8b;
    border-radius: 1rem;
    padding: 2rem 1rem;
}


.propertyCommandsButton.copyButton{
    display:block;
}

.copyButton:before{
    content: '\1F4CB'
}

.copyButton:after{
    content: '\1F4CB';
    position: relative;
    top: -0.1rem;
    left: -0.8rem;
    margin-right: -0.9rem;
}
    



h1 {
    font-size: 2rem;
    font-weight: 600;
    color: white;
    margin: 0.3rem 0.3rem 0;
    text-shadow: 4px 6px 11px rgb(19 20 20 / 40%);
}





#ajaxPopulateNotificationFlyingBar {
    background: linear-gradient(135deg, #000000 40%, #130a4c 70%);
    position: fixed;
    left: 2rem;
    bottom: 3rem;
    padding: 2rem;
    color: white;
    border: 4px white;
    z-index: 9999;
    border-radius: 1rem;
    font-size: 1.3rem;
    box-shadow: 0px 15px 20px rgba(77, 79, 78, 0.542);
}

#loadingSpinner {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #aaa7a7b0;
    z-index: 9990;
}


td.keyName {
    font-weight: 600;
    font-size: 0.7rem;
    padding: 0.4rem;
    position: relative;
	background: #aabcbd;
}

td[class^="updateContainer-"]{
     position: relative;
     padding-right: 2rem;
	 background: #aabcbd;
}

.getJSONCode,
.getJSONCode:hover,
.getJSONCode:focus,
.getJSONCode:active,
.getJSONCode:visited {
    display: block;
    margin: 0 0.04rem 1rem;
    position: relative;
    z-index: 3;
    font-size: 0.6rem;
    font-weight: 700;
    background: #cecece;
}

.getJSONCode:hover{
    background: #b0a4f7;
    color:black;
}


#forkongithub a {
    background: #000;
    color: #fff;
    text-decoration: none;
    font-family: arial, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 5px 40px;
    font-size: 0.7rem;
    line-height: 1rem;
    position: relative;
    transition: 0.5s;
}

textarea.isempty {
    background: #e4bac8;
    border: 2px dotted #ef6d98;
}

#forkongithub a:hover {
    background: #483d8b;
    color: #fff;
}

#forkongithub a::before,
#forkongithub a::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    height: 1px;
    background: #fff;
}

#forkongithub a::after {
    bottom: 1px;
    top: auto;
}


@media screen and (min-width:300px) {
    
    #forkongithub {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        width: 200px;
        overflow: hidden;
       /* height: 200px; */
        z-index: 9999;
    }

    #forkongithub a {
        width: 200px;
        position: fixed;
        top: 35px;
        right: -50px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    }
}